//variables
$color-black: #000;
$color-white: #fff;
$color-red: #D83A56;
$color-yellow: #F0BB62;
$color-yellow-dark: #FEC260;
$color-blue: #94DAFF;
$color-blue-dark: #56bbf1;
$color-blue-light: #90AACB;
$color-green: #34BE82;
$color-brown: #D06224;
$color-brown-dark: #c84b31;
