<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/style.css">

  <title>The Red Planet</title>
</head>

<body>
  <section class="sections">
    <div class="bg">
      <video class="bg--video" autoplay autoplay muted loop>
        <source src="img/bg-vid2.mp4" type="video/mp4">
      </video>
    </div>
    <div class="container">
      <div class="features">
        <a href="/weather" class="features__weather features__ctn">
          <h2 class="features__main text-bottom">Weather</h2>
          <p class="features__cap text-center">See Mars' weather and compare it with Earth</p>
          <img src="img/weather-icon.jpg" class="features__img" alt="weather-img">
        </a>
        <a href="/pictures" class="features__photos features__ctn">
          <h2 class="features__main text-bottom">Rover Pictures</h2>
          <p class="features__cap text-center">See latest pictures of Mars rover</p>
          <img src="img/rover-icon.jpg" class="features__img" alt="rover-img">
        </a>
      </div>
    </div>
  </section>
</body>

</html>
