<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mars' Weather</title>
  </head>
  <body>
    <section class="section-weather">
      <h1> <%= hello %> </h1>
      <div class="bg-video__ctn">
        <video class="bg-video" autoplay autoplay muted loop>
        <source src="public/img/bg-vid3.mp4" type="video/mp4">
        </video>
      </div>
    </section>
  </body>
</html>
