/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300; }

.sections {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; }

.container {
  margin: 0 auto; }

.bg__ctn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden; }

.bg--video,
.bg--img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1); }

.bg-overlay:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.bg-overlay--weather:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(200, 75, 49, 0.4)); }

.bg-overlay--pictures:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)); }

.text-top {
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%); }

.text-center {
  position: relative;
  top: 40%; }

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.half {
  position: absolute;
  top: 0;
  left: 0; }

.features {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 6.4rem; }
  .features__ctn, .features__ctn:link, .features__ctn:visited {
    position: relative;
    color: #fff;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 50%;
    height: 25rem;
    width: 25rem;
    overflow: hidden;
    clip-path: circle(50% at 50% 50%); }
  .features__weather {
    border: 4px solid #D83A56; }
  .features__photos {
    border: 4px solid #FEC260; }
  .features__main {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
    white-space: nowrap; }
  .features__cap {
    font-size: 1.4rem;
    padding: 1rem;
    opacity: 0;
    z-index: 1;
    transition: all 0.5s; }
  .features__img {
    height: 100%;
    width: auto;
    transform: translateY(-5rem) scale(1.1); }
  .features__ctn:hover .features__main {
    opacity: 0; }
  .features__ctn:hover .features__cap {
    opacity: 1; }
  .features__ctn:hover .features__img {
    filter: brightness(0.7) blur(5px); }

.weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 3.2rem;
  grid-row-gap: 3.2rem; }
  .weather__temperature {
    border: 3px solid #90AACB;
    position: relative;
    background-color: rgba(0, 0, 0, 0.5); }
    .weather__temperature--color {
      background-color: rgba(144, 170, 203, 0.3);
      width: 50%;
      height: 100%; }
      .weather__temperature--color .low {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3rem; }
      .weather__temperature--color .low__sub {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 1.2rem;
        text-transform: lowercase; }
    .weather__temperature--trans .high {
      position: absolute;
      top: 50%;
      right: 25%;
      transform: translate(50%, -50%);
      font-size: 3rem;
      color: #94DAFF; }
    .weather__temperature--trans .high__sub {
      position: absolute;
      top: 60%;
      right: 25%;
      transform: translate(50%, -50%);
      font-size: 1.2rem;
      text-transform: lowercase; }
    .weather__temperature .weather__main {
      color: #90AACB; }
    .weather__temperature .weather__sub {
      position: relative;
      top: 33%;
      font-size: 1.2rem; }
  .weather__pressure {
    border: 3px solid #F0BB62;
    position: relative;
    background-color: rgba(240, 187, 98, 0.2); }
    .weather__pressure--content {
      background-color: rgba(240, 187, 98, 0.6);
      width: 100%;
      height: 55%; }
    .weather__pressure .weather__main {
      color: #F0BB62; }
  .weather__season {
    border: 3px solid #34BE82;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2); }
    .weather__season--content {
      background-color: rgba(52, 190, 130, 0.8);
      width: 100%;
      height: 55%; }
    .weather__season .weather__main {
      color: #34BE82; }
  .weather__wind {
    border: 3px solid #D06224;
    position: relative;
    background-color: rgba(0, 0, 0, 0.7); }
    .weather__wind--content {
      background-color: rgba(208, 98, 36, 0.2);
      width: 100%;
      height: 55%; }
    .weather__wind .weather__main {
      color: #D06224; }
  .weather__main {
    font-size: 1.2rem;
    font-weight: inherit;
    letter-spacing: 2px; }
  .weather .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.4rem;
    text-transform: capitalize; }
  .weather .content__sub {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    text-transform: lowercase; }
  .weather .sol-num {
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.1rem; }

.slider {
  position: relative;
  height: 70rem;
  object-fit: cover; }
  .slider-pic {
    height: 100%;
    width: 100rem; }
  .slider .arrows {
    position: absolute;
    top: 50%;
    height: 7rem;
    width: 7rem;
    border: 3px solid rgba(86, 187, 241, 0.5);
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    color: rgba(86, 187, 241, 0.5);
    font-size: 7rem;
    text-align: center;
    cursor: pointer; }
    .slider .arrows--right {
      right: -10rem; }
    .slider .arrows--left {
      left: -10rem; }
    .slider .arrows:hover {
      border: 3px solid #56bbf1;
      background-color: rgba(0, 0, 0, 0.6);
      box-shadow: 0.1rem 0.1rem 0.7rem 0.7rem rgba(86, 187, 241, 0.5); }
      .slider .arrows:hover .arrow {
        color: #56bbf1; }
  .slider .arrow {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); }

.preview {
  display: flex;
  justify-content: center;
  margin-top: 10rem; }

.previews {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  border: 3px solid rgba(0, 0, 0, 0.5);
  margin-right: -1.5rem; }
