.bg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.9;
  overflow: hidden;

  &--img,
  &--video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
  }

  &-overlay:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &-overlay--weather:before {
    background: linear-gradient(to bottom, rgba($color-black, .4), rgba($color-brown-dark, .4));
  }

  &-overlay--pictures:before {
    background: linear-gradient(to bottom, rgba($color-black, .7), rgba($color-black, .9));
  }
}
