.text-top {
  @include absoluteCenter;
  top: 14%;
}

.text-bottom {
  @include absoluteCenter;
  top: 80%;
}

.center {
  @include absoluteCenter;
  top: 50%;
}

.text-center {
  position: relative;
  top: 40%;
}

.half {
  position: absolute;
  top: 0;
  left: 0;
}
